# Editor directories and files
/.vscode/*
!/.vscode/extensions.json
/.idea

/vendor
/node_modules

/bootstrap/ssr
/public/build
/public/hot
/public/storage
/public/mix-manifest.json

/storage/*.key

.env
.env.backup

.phpunit.result.cache
.phpstorm.meta.php
_ide_helper.php

docker-compose.override.yml

Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log

.DS_Store

# RoadRunner files
rr
.rr.yaml

# GitLab Code Quality Report
cs.json
cq.json
gl-code-quality-report.json
